<!DOCTYPE html>

<form action='/articles' method="POST">
  Title:
  <input type="text" name="article_title" id="article_title">
  Content:
  <input type="text" name="article_content" id="article_content">
  <input id="submit" type="submit" value="sumbit">
</form>