<!DOCTYPE html>

<form action='/articles' method="POST">
  Title:
  <input type="text" name="title" id="title">
  Content:
  <input type="text" name="content" id="content">
  <input id="submit" type="submit" value="sumbit">
</form>